/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 400, 500, 700 */

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* Universal */

html{
    /* ### Primary */

--VeryDarkMagenta: hsl(300, 43%, 22%);
--SoftPink: hsl(333, 80%, 67%);

    /* ### Neutral */

--DarkGrayishMagenta: hsl(303, 10%, 53%);
--LightGrayishMagenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 3rem 0;
    font-family: "Spartan";
    /* background-image: url(images/bg-pattern-bottom-mobile.svg); */
}

/* Heading and info */
.info{
    width: 400px ;
    margin: auto;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.info h1{
    color: var(--VeryDarkMagenta);
    padding: 0 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.info p{
    color: var(--VeryDarkMagenta);
    width: 100%;
    line-height: 1.5rem;
    font-weight: 500;
}

/* Ratings */
.rating{
    margin:1rem auto;
    width: 375px;
    text-align: center;
    background-color: var(--LightGrayishMagenta);
    padding: 1.25rem 0;
    border-radius: 1rem;
    
}

.rating img{
    width: 21px;
}

.rating h5{
    padding: .75rem 0 0;
    color: var(--VeryDarkMagenta);
    font-size: 1rem;
}


/* Testimonials */

.container{
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: auto;
    padding-top: 2rem;
}

.testimonial{
    width: 375px;
    background-color: var(--VeryDarkMagenta);
    border-radius: 1rem;
    margin: 1rem auto;
    height: 310px;
    color: var(--LightGrayishMagenta);
    padding: 2rem;
}

.testimonial p{
    line-height: 1.75rem;
    /* word-spacing: .2rem; */
    width: 105%;
}

.icon{
    display: flex;
    flex-direction: row;
    margin:1rem 0 2rem;
}

.icon img{
    border-radius: 50%;
    width: 60px;
}

span{
    display: block;
    color:var(--SoftPink);
    font-weight: 400;
}

h4{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
}

/* Desktop design */

@media (min-width: 900px) {
    body{
        padding: 5rem;
        max-width: 1440px;
        margin: 0 auto 0;
    }

    /* Heading and info */
    .info{
        display: inline-flex;
        flex-direction: column;
        width: 50%;
        text-align: left;
        padding: 0 ;
    }

    .info h1{
        width: 400px;
        padding-left: 3rem;
    }

    .info p{
        margin: 0 auto 0 0;
        width: 400px;
        padding-left: 3rem;
    }
    /* Ratings */
    .wrapper{
        display: inline-flex;
        flex-direction: column;
        width: 49%;
       
    }
    .rating:nth-child(1){
        margin-right: 100px;
    }
    .rating:nth-child(3){
       margin-right:  30px;
    }

    .rating{
        width: 500px;
    }

    .rating h5{
        display: inline-block;
        padding: 0;
        margin-left: 2.5rem;
    }

    .rating img{
        vertical-align: bottom;

    }

    .container{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        height: 450px;
    }
    .testimonial{
        max-width: 340px;
        overflow: hidden;
    }
}

@media (min-width: 1180px){
    .testimonial{
        margin: 0 auto;
    }
    .testimonial:nth-child(2){
        margin-top: 30px;
    }
    .testimonial:nth-child(3){
        margin-top: 60px;
    }
}